@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --HEADER-BGCOLOR: #333;
    --HEADER-COLOR: whitesmoke;
}

html {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

header {
    background-color: black ;
    color: whitesmoke;
    padding: 1rem 2rem;
}
.header-title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    flex-flow: row nowrap;
}
.menu-button {
    font-size: 2rem;
    background: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu-icon,
.menu-icon::before,
.menu-icon::after {
    width: 30px;
    height: 4px;
    background-color: whitesmoke;
    display: block;
    border-radius: 2px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.menu-icon::before,
.menu-icon::after {
    content: "";
}
.menu-icon::before {
    transform: translateY(-10px);
}
.menu-icon::after {
    transform: translateY(10px);
}
:is(header:hover, header:focus-within) .menu-icon {
    background-color: transparent;
}
:is(header:hover, header:focus-within) .menu-icon::before {
    background-color: translateX(-20px) rotate(45deg);
}
:is(header:hover, header:focus-within) .menu-icon::after {
    background-color: translateX(-20px) rotate(-45deg);
}
:is(header:hover, header:focus-within) nav {
    display: block;
}
nav {
    animation: showMenu 0.3s ease-in-out forwards;
    display: none;
    transform-origin: top center;
}
@keyframes showMenu {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    80% {
        transform: scaleY(1.2);
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
nav ul {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
}
nav li {
    padding: 0.5rem;
   /*  border-top: 1px solid #555; */
}
nav a {
    text-decoration: none;
    color: whitesmoke;
    /* font-size: 1.25rem; */
    /* text-align: center; */
    display: block;
    margin: auto;
    width: 80%;
}
nav a:any-link {
    color: whitesmoke;
    font-weight: bold;
}
nav a:hover {
    color: blue;
}
nav a:hover nav a:focus {
    transform: scale(1.2);
    transition: all 0.3s ;
}
